{% extends 'base.html' %}
{% block title %}
Contect Us
{%endblock title%}
{% block body %}
{% load static%}
    <main>
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback about our software, please don't hesitate to contact us:</p>
        <form action="submit-form.php" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <input type="submit" value="Send">
        </form>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.facebook.com/questionpapergenerator">Facebook</a></li>
            <li><a href="https://twitter.com/questionpapergen">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/questionpapergenerator">LinkedIn</a></li>
        </ul>
    </footer>

{% endblock body %}